In [3]:
a= 5 
b= 10.3
print(a,b)

5 10.3

In [4]:
b/a #floor division

2.06

In [5]:
b//a

2.0

In [6]:
b**2 #exponent

106.09000000000002

In [7]:
a==b

False

In [8]:
a>b #comparison
b>a

True

In [9]:
x = 10
y = 5
z = 15
x == y and y ==z # Logical

False

In [10]:
x ==y or y == z

False

membership

In [11]:
"desh" in "bangladesh"

True

In [12]:
"gla" in 'Bangladesh'

True

Identity

In [13]:
a is b

False

Data structure

In [14]:
#list
List_1= ['Buet', "Ewu","ruet", "kuet"]
List_2 = [1,2,3,4]
List_1[0]

'Buet'

# Slicing

In [15]:
List_1[0:]

['Buet', 'Ewu', 'ruet', 'kuet']

In [16]:
List_1[1:]

['Ewu', 'ruet', 'kuet']

In [17]:
List_1[:3]

['Buet', 'Ewu', 'ruet']

In [19]:
#List Update
List_1.append('nsu')
List_1

['Buet', 'Ewu', 'ruet', 'kuet', 'nsu', 'nsu']

In [24]:
List_1.insert(2,'cuet')

List_1

['Buet', 'Ewu', 'cuet', 'cuet', 'cuet', 'cuet', 'ruet', 'kuet', 'nsu', 'nsu']

In [27]:
List_1.insert(3,"brac")

In [28]:
List_1.insert(3,"brac")
List_1

['Buet',
 'Ewu',
 'cuet',
 'brac',
 'brac',
 'brac',
 'brac',
 'cuet',
 'cuet',
 'cuet',
 'ruet',
 'kuet',
 'nsu',
 'nsu']

In [32]:
List_1.extend[(100,20)]

TypeError: 'builtin_function_or_method' object is not subscriptable

#Remove items


del List_1[7:]
List_1

In [35]:
List_1.remove("brac")
List_1

['Buet', 'Ewu', 'cuet', 'brac', 'brac', 'brac']

In [38]:
del List_1[-4]
List_1

['Ewu', 'brac', 'brac']

In [39]:
List_1.pop()

'brac'

In [ ]:
#####Sorting
list_3 = [4,7,15,20,21]
sorted(list_3)

Dictonary

In [50]:
Dict = {'b'='buet','c'='cuet','k'='kuet','n'='nsu'} # it will be clone(:) not equal(=)
dict["k"]

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1417160962.py, line 1)

In [53]:
Dict = {'b':'buet','c':'cuet','k':'kuet','n':'nsu'}
Dict["k"]

'kuet'

In [55]:
Dict['E'] = "Ewu"
Dict

{'b': 'buet', 'c': 'cuet', 'k': 'kuet', 'n': 'nsu', 'E': 'Ewu'}

In [56]:
Dict.keys()

dict_keys(['b', 'c', 'k', 'n', 'E'])

In [57]:
Dict.values()

dict_values(['buet', 'cuet', 'kuet', 'nsu', 'Ewu'])

SET

In [2]:
s= {1,2,6,6,6,7,8,9} #duplicate will be deleted automatically and sorting too. but must "{}".
s

{1, 2, 6, 7, 8, 9}

String

In [5]:
# we will use double cottation.
String= "Bangladesh is 'love'."
String

"Bangladesh is 'love'."

In [14]:
string = 'Bangladesh is \'LOVE\'. I love her.' # can be write in both way
string

"Bangladesh is 'LOVE'. I love her."

In [11]:
#for create new line 
print("Bangladesh is 'LOVE'.", end=" ")
print(" I love her.")

Bangladesh is 'LOVE'.  I love her.

In [30]:
print("Bangladesh is 'Love'.", end='\t')
print("i love her")

Bangladesh is 'Love'.	i love her

In [27]:
print("Bangladesh is 'LOVE.", end="\t")
print(" I love her.")

Bangladesh is 'LOVE.	 I love her.

In [31]:
String[1:6]

'angla'

In [32]:
String2[6:]

'desh os /love/.'

Use of "F"

In [34]:
# we can put all variable in one line.
n= 147570
string3= "area of bd is"
print(string3,n,"sq km")

area of bd is 147570 sq km

In [36]:
#However we can put them in one code. it will read only value.
print(f"{string3} {n} sqkm")

area of bd is 147570 sqkm

Split

In [43]:
s1="Bangla "
S2 = "desh"
Country= (s1+S2)
Country

'Bangla desh'

In [47]:
Country.len()

AttributeError: 'str' object has no attribute 'len'

In [52]:
Country.split('a')

['B', 'ngl', ' desh']

For Searching

In [53]:
Country.find("esh")

8